<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="consumerKey" value="IK6hkdvR8ulyZfRFuLpxTsK09" />
    <add key="consumerSecret" value="ZZucblNvb4ZSvDP7WNh1HhcDrnyaY4dMILGnxJK5J3IR1ZF6r0" />
    <add key="accessToken" value="613045978-IQD5J6G89mRmC6dAoSRMR9hrZ9rQrIhJ6BgGGkjS" />
    <add key="accessSecret" value="85t0L2miv95OmzorjviEAyUhIwSdcjLBusaVn1r4S9Vrx" />
  </appSettings>
  <runtime>
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>-->
  </runtime>
</configuration>